.perfil-libro-img {
    height: 372px;
    width: 240px;
    background-color: blueviolet;
    border: 1px solid #fff;
    overflow: hidden;
}

.perfil-libro-navegacion {
    display: flex;
    position: relative;
    left: 34.5%;
    bottom: 5%;
}

.perfil-libro-navegacion .barra {
    height: 5px;
    width: 10px;
    background-color: #6D6875;
    cursor: pointer;
    border: 2px solid #5f5b65;
    margin-left: 8px;
    box-shadow: 2px 2px 6px #888490, -2px -2px 6px #888490;
}

.perfil-libro-navegacion .barra:hover {
    background-color: azure;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.perfil-libro-slides {
    display: flex;
    height: 100%;
    width: 500%;
}

.perfil-libro-image-libro {
    width: 20%;
    transition: 0.4s ease;
}

img {
    width: 100%;
    height: 100%;
}

#perfil-libro-btn1:checked~.perfil-libro-primero {
    margin-left: 0;
}

#perfil-libro-btn2:checked~.perfil-libro-primero {
    margin-left: -20%;
}

#perfil-libro-btn3:checked~.perfil-libro-primero {
    margin-left: -40%;
}