/* Estilos Generales */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
}

.pagina-completa {
    display: flex;
}

.menu-lateral {
    background-color: #6D6875;
    list-style: none;
    width: 300px;
    height: 1175px;
}

.menu-lateral li {
    font-size: 18px;
    list-style: none;
}


/* Estilos de la primera sección */

.menu-lateral-arriba {
    display: flex;
}

.menu-lateral-arriba i {
    color: #fff;
    font-size: 25px;
}

.menu-lateral-foto img {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.menu-lateral-primero {
    align-items: center;
    background-color: #FFB4A2;
    border-radius: 0 0 2% 2%;
    -webkit-box-shadow: 0px 9px 10px -8px #000000;
    box-shadow: 0px 9px 10px -8px #000000;
}

.menu-lateral-usuario {
    color: #000105;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    width: 85%;
}


/* Estilos de la segunda sección */

.menu-lateral-segundo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 20px;
}

.menu-lateral-segundo h2 {
    color: #000105;
    font-size: 25px;
    padding-top: 30px;
}

.menu-lateral-lista {
    display: flex;
    margin: 15px 20px 15px 10px;
}

a {
    color: #FFCDB2;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #000105;
}

.menu-lateral-lista i {
    color: #fff;
    font-size: 30px;
    margin: 1px 8px 1px 4px;
}

.menu-lateral-lista li {
    margin: auto 0;
}

#menu-lateral-desplegar-1 li,
#menu-lateral-desplegar-2 li {
    display: block;
}

#menu-lateral-desplegar-1 ul,
#menu-lateral-desplegar-2 ul {
    max-height: 0;
    margin-left: 50px;
    overflow: hidden;
}

#menu-lateral-desplegar-1:target ul {
    overflow: visible;
    margin-bottom: 50px;
    max-height: 30;
    padding: 0 0 10px 20px;
    transition: 0.3s
}

#menu-lateral-desplegar-2:target ul {
    overflow: visible;
    margin-bottom: 60px;
    max-height: 30;
    padding: 0 0 20px 20px;
    transition: 0.3s
}

.menu-lateral-titulo {
    font-weight: 600;
    padding-top: 15px;
}

ul {
    padding-left: 0;
}


/*Datos de Usuario*/

.parent {
    display: flex;
}

#sct-registro-usuarios form {
    height: 950px;
    width: 100%;
    /* backdrop-filter: blur(0.4rem); */
    background: #6D6875;
    box-shadow: 0.6rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
    border-radius: 0.7rem;
    text-align: center;
    transition: transform .2s;
    margin: 50px;
}


/* form:hover {
    transform: scale(1.1);
    backdrop-filter: blur(0.7rem);
    cursor: pointer;
} */

#sct-registro-usuarios form h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    font-weight: bold;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

#sct-registro-usuarios form .cont-control {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sct-registro-usuarios form label {
    display: inline-block;
    color: white;
    padding: 0 2rem;
    text-align: center;
    width: 270px;
    font-weight: bold;
    font-size: 20px;
}

.col-uno,
.col-dos,
.col-tres,
.col-cuatro {
    width: 25%;
}

.mapa {
    width: 250px;
    height: 35px;
    text-align: left;
    margin-bottom: 50px;
}

.cont-control span,
.cont-control textarea {
    width: 200px;
    height: 35px;
    color: white;
    align-items: left;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

#btn {
    padding: 10px;
    border-radius: 1rem;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

#btn:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.btn-oscuro {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    margin-top: 25px;
}

.btn-oscuro:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.contenedor-img {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-comentar {
    background-color: #6D6875;
    border: #fff;
    color: #FFCDB2;
    cursor: pointer;
}