#cont-factura {
    border: 3px solid #b5838d;
    background: #fff;
    padding: 20px;
    width: 90%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-weight: bold;
}

body {
    background: #f5e9e2;
}