* {
    box-sizing: border-box;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px;
}

td {
    padding: 15px;
    border: 2px solid #6d6875;
}

input {
    padding: 6px;
}

input[type=number] {
    text-align: right;
}

.text {
    line-height: 1.8;
}

.subtotal,
.total,
.base,
.iva {
    text-align: right;
    min-width: 100px;
}

.bold {
    font-weight: bold;
}

.btn-oscuro {
    background: #946C00;
    color: #ffffff;
    height: 30px;
    width: 150px;
    font-weight: bold;
    border: 2px solid #946C00;
}

.btn-oscuro:hover {
    background: #ddd0ab;
    border: 2px solid #b4a16c;
    color: #946C00;
    cursor: pointer;
}

.sct-socios-comerciales form button {
    width: 33.33%;
}

.cont-control {
    text-align: center;
}