
/* Inicio Footer */

.footerParent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerChildUno,
.footerChildDos,
.footerChildTres {
    width: 15%
}

footer {
    padding: 20px;
    background-color: #6D6875;
    color: #FFB4A2;
    border: 1px solid #fff;
}

footer h4 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 30px;
}

footer p {
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
}

footer div {
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: #FFB4A2;
}