/* Estilos generales */

a {
    font-weight: bold;
    text-decoration: none;
}

.lista-libros-centrar {
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}


/*Estilos lista arriba*/

.lista-libros-titulo {
    margin-top: 60px;
    margin-bottom: 20px;
}

.lista-libros-arriba {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.lista-libros-arriba a {
    background-color: #FFB4A2;
    border: none;
    border-radius: 6px;
    color: #636069;
    font-size: 18px;
    margin: 0 20px 15px 0;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}

.lista-libros-arriba a:hover {
    background-color: #fed7ce;
    color: #000105;
}


/*Estilos de tabla*/

table {
    width: 98.5%;
}

td {
    padding: 8px;
    text-align: left;
}

tr {
    background-color: #6D6875;
    color: #FFCDB2;
}

.tabla-titulos {
    font-weight: bold;
}

.lista-libros-sinopsis {
    background-color: #6D6875;
    color: #FFCDB2;
    line-height: 26px;
    text-align: justify;
}


/*Estilos de Acordeón*/

.lista-libros-acordeon {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
}

.titulo {
    background: #6D6875;
    color: #FFCDB2;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 10px 10px 10px 50px;
    position: relative;
    width: 93%;
}

.lista-libros-contenido {
    height: 0;
    margin: 4px 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    width: 100%!important;
    z-index: -1;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
}

.titulos-libros:checked~.lista-libros-contenido {
    height: auto;
    opacity: 1;
}

.plus {
    color: #FFB4A2;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    margin-left: 10px;
    position: absolute;
    transition: .3s ease;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
}

.titulos-libros:checked~.plus {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.titulos-libros {
    display: none;
}

.editar-libro {
    color: #FFFFFF;
    left: 84%;
    position: absolute;
}

.borrar-libro {
    color: #FFFFFF;
    left: 90%;
    position: absolute;
}

.editar-libro:hover,
.borrar-libro:hover {
    color: #FFB4A2
}