                #sct-autores {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Asap', sans-serif;
                    background-color: #ffcdb2;
                }
                
                .titulo {
                    font-family: 'Asap', sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                    background-color: #6D6875;
                    color: #ffcdb2;
                }
                
                th {
                    text-align: left;
                    font-family: 'Asap', sans-serif;
                }
                
                .icono-eliminar {
                    background-color: #fff;
                    border: #fff;
                    color: #E5989B;
                    cursor: pointer;
                    margin: 0px;
                }