                #sct-autores {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Asap', sans-serif;
                    background-color: #ffcdb2;
                }
                
                .paginacontenido {
                    justify-content: space-around;
                }
                
                .titulo {
                    font-family: 'Asap', sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                    background-color: #6D6875;
                    color: #ffcdb2;
                }
                
                th {
                    text-align: left;
                    font-family: 'Asap', sans-serif;
                    font-weight: bold;
                    font-family: 'Asap', sans-serif;
                    background: #ffcdb2;
                    padding: 15px 0;
                }
                
                .icono-eliminar {
                    background-color: #fff;
                    border: #fff;
                    color: #E5989B;
                    cursor: pointer;
                    margin: 0px;
                }
                
                #btn-agregar-autor {
                    background: #FFB4A2;
                    color: #6D6875;
                    height: 40px;
                    width: 150px;
                    font-weight: bold;
                    margin-bottom: 30px;
                    border-radius: 6px;
                    font-size: 15px;
                }
                
                tr {
                    height: 40px;
                }
                
                .tbl-libros {
                    padding-left: 10px;
                }