/* Estilos Generales */

html,
body {
    height: 100%;
    width: 100%;
}

.menu-lateral {
    background-color: #6D6875;
    border: solid 2px #000;
    font-family: 'Asap', sans-serif;
    height: 97%;
    list-style: none;
    margin: 1% 0 2% 0;
    padding: 20px 0;
    width: 300px;
}

.menu-lateral li {
    font-size: 18px;
    list-style: none;
}


/* Estilos de la primera sección */

.menu-lateral-arriba {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.menu-lateral-arriba i {
    color: #fff;
    font-size: 25px;
}

.menu-lateral-foto img {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.menu-lateral-primero {
    align-items: center;
}

.menu-lateral-usuario {
    /* background-color: #E5989B; */
    /* border: 2px solid green; */
    /* border-radius: 20%; */
    color: #FFCDB2;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    width: 85%;
}


/* Estilos de la segunda sección */

.menu-lateral-segundo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.menu-lateral-segundo h2 {
    color: #FFB4A2;
}

.menu-lateral-lista {
    display: flex;
    margin: 15px 20px 15px 10px;
}

a {
    color: #FFCDB2;
    font-weight: bold;
    text-decoration: none;
}

.menu-lateral-lista i {
    color: #fff;
    font-size: 30px;
    margin: 1px 8px 1px 4px;
}

.menu-lateral-lista li {
    margin: auto 0;
}

#menu-lateral-desplegar-1 li,
#menu-lateral-desplegar-2 li {
    display: block;
}

#menu-lateral-desplegar-1 ul,
#menu-lateral-desplegar-2 ul {
    overflow: hidden;
    max-height: 0;
}

#menu-lateral-desplegar-1:target ul {
    overflow: visible;
    margin-bottom: 50px;
    max-height: 30;
    padding: 0 0 10px 20px;
}

#menu-lateral-desplegar-2:target ul {
    overflow: visible;
    margin-bottom: 60px;
    max-height: 30;
    padding: 0 0 20px 20px;
}

.menu-lateral-titulo {
    font-weight: 600;
    padding-top: 15px;
}

ul {
    padding-left: 0;
}