/* Variables */

:root {
    --color-fondo: #FFCDB2;
    --color-varios: #FFB4A2;
}


/* Estilos Generales */

html,
body {
    height: 100%;
    width: 100%;
}

.menu-lateral {
    border: solid 2px #000;
    font-family: 'Asap', sans-serif;
    height: 97%;
    list-style: none;
    margin: 1% 0 2% 0;
    padding: 20px 0;
    width: 15%;
}

.menu-lateral li {
    list-style: none;
}


/* Estilos de la primera sección */

.menu-lateral-arriba {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.menu-lateral-arriba i {
    font-size: 25px;
}

.menu-lateral-usuario {
    line-height: 10px;
    text-align: center;
}


/* Estilos de la segunda sección */

.menu-lateral-segundo {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu-lateral-lista {
    display: flex;
    margin: 15px 20px 15px 10px;
    /* border: 2px solid red; */
}

.menu-lateral-lista i {
    font-size: 17px;
    margin: 1px 8px 1px 4px;
}

.menu-lateral-titulo {
    /* border: 2px solid blue; */
    font-weight: 600;
    padding-top: 15px;
}

ul {
    padding-left: 0;
}