* {
    box-sizing: border-box;
}

body {
    font-family: 'Asap';
}

.cont-metodo-envío {
    width: 1000px;
    height: auto;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .10);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-weight: bold;
    font-size: 22px;
    margin: 30px;
}

.cont-contenido-envío {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.cont-domicilio,
.cont-punto-retiro {
    width: 440px;
}


/* Sección entrega a domicilio */

.cont-domicilio {
    border-right: 2px solid #6D6875;
}

.cont-titulo-seccion label {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.cont-linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cont-linea select {
    width: 240px;
    text-align: center;
}


/* Sección punto de retiro */

.cont-retiro-inferior {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}


/* Sección del mapa */

#mapa {
    height: 300px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


/* Botones */

.cont-botones {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-metodo-envio {
    margin-left: 30px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    border-radius: 6px;
}

#btn-atras {
    background: #fff;
    border: 1px solid #000;
}

#btn-continuar {
    background: #B5838D;
    border: 1px solid #B5838D;
}