/* Estilos Generales */

form h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

.btn-enviar {
    margin-top: 20px;
    text-align: center;
}

.columna-der {
    padding-left: 20px;
    width: 50%;
}

.columna-izq {
    padding-right: 20px;
    width: 50%;
}

.contenido h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 60px;
    text-align: center;
}

.formulario-libros {
    display: flex;
}

.premio-literatura {
    align-items: center;
    display: flex;
}


/*Estilos Input*/

form label {
    font-size: 20px;
    font-weight: bold;
}

input,
select,
textarea {
    background-color: #fed7ce;
    border: 3px solid rgb(109, 104, 117);
    border-radius: 6px;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
}

input,
textarea {
    margin-top: 2px;
}

input[type="text"],
select,
textarea {
    box-sizing: border-box;
    height: 35px;
    padding: 0.1rem 0.75rem;
    width: 100%;
}

textarea {
    padding-top: 0.50rem;
}

input::placeholder,
textarea::placeholder {
    color: #000;
}

input[type="file"] {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 100%;
}

input[type="number"] {
    height: 26px;
    padding-left: 12px;
    width: 96%;
}

.premio-literatura input[type="number"] {
    margin-left: 10px;
    width: 250px;
}

input[type="checkbox"] {
    height: 26px;
    vertical-align: middle;
    width: 26px;
}

button[type="button"] {
    background-color: #FFB4A2;
    border: none;
    border-radius: 6px;
    color: #636069;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    transition: 0.3s;
}

button:hover[type="button"] {
    background-color: #fed7ce;
    color: #000105;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 3px #636069;
    outline: none;
}

button:focus {
    box-shadow: 0 0 0 3px #636069;
    outline: none;
}

.formulario-libros-espaciado-form {
    margin-bottom: 20px;
}

textarea {
    height: 200px;
}

.formulario-libros-adjuntos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 450px;
}

.formulario-libros-adjuntos div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario-libros-adjuntos img {
    margin: 10px 0;
    max-height: 200px;
    max-width: 200px;
    text-align: center;
}

.formulario-libros-adjuntos button {
    width: 150px;
}


/* Estilos de validacion */

.formulario-libros-incompleto,
.formulario-libros-incompleto input[type="date"] {
    border: 3px solid #ad3049;
    color: #ad3049;
    font-size: 18px;
    font-weight: bold;
}

.formulario-libros-incompleto::placeholder {
    color: #ad3049;
    font-weight: bold;
}