/* Navbar */

.nav {
    padding: 20px;
    text-align: center;
    background-color: #B5838D;
    height: 100px;
}

.nav-img {
    height: 100px;
    width: 100px;
}

.navParent {
    display: flex;
    flex-direction: row;
}

.navUno {
    float: center;
}

.navDos {
    float: right;
    text-decoration: none;
}

.btn-nav {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

.btn-nav:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}


/*Fin Navbar */