/*Google Fonts*/


/* Estilos Generales */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
}

.pagina-completa {
    display: flex;
}


/* Estilos de la tabla */

.content-general {
    margin-top: 10%;
    margin-left: 10%;
}


/* Inicio */

.pagina-contenido {
    padding-top: 0 !important;
    padding-left: 60px !important;
    max-width: 1500px !important;
}


/* Fin */

h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
}


/* Encabezado */

th {
    background-color: #FFB4A2;
    font-size: 18px;
    font-weight: 600;
    color: #6D6875;
    width: 160px;
    border: 2px solid #fff;
}

.cont-encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;
}


/* Filas */

.fila-padre {
    background-color: #6D6875;
    border: 2px solid #fff;
    color: #FFB4A2;
    font-weight: 600px;
}

.cont-linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;
}

.cont-pedido {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Estilos filas expandibles */

.cont-linea-oculta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 15px;
}

.oculta {
    display: none;
}

.cont-pedido i {
    color: #FFCDB2;
    margin-left: 10px;
    margin-right: 50px;
}


/* .rotar45 {
    transform: rotate(45deg);
} */

.coloreado {
    color: #FFCDB2;
}

.btn-comentar {
    background-color: #6D6875;
    border: #fff;
    color: #FFCDB2;
    cursor: pointer;
}


/*Estilos de tabla*/

table {
    width: 98.5%;
}

td {
    padding: 8px;
    text-align: left;
}

tr {
    background-color: #6D6875;
    color: #FFCDB2;
}

.tabla-titulos {
    font-weight: bold;
}

.lista-libros-sinopsis {
    background-color: #6D6875;
    color: #FFCDB2;
    line-height: 26px;
    text-align: justify;
}

.lista-libros-enlace {
    padding: 10px 0 20px 0;
    text-decoration: none;
    text-align: end;
}