/* Estilos generales */

a {
    font-weight: bold;
    text-decoration: none;
}

button[type="button"] {
    background-color: #FFB4A2;
    border: none;
    border-radius: 6px;
    color: #636069;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    transition: 0.3s;
}

button:hover[type="button"] {
    background-color: #fed7ce;
    color: #000105;
}

.lista-generos-tabla-centrar {
    text-align: center;
}

.lista-generos-ingresar-input {
    height: 24px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 79%;
    font-size: 15px;
    border: 3px solid rgb(109, 104, 117);
    background-color: #fed7ce;
    border-radius: 6px;
}

form {
    margin-bottom: 20px;
}

.lista-generos-tabla-titulo {
    margin-top: 60px;
    margin-bottom: 20px;
}


/*Estilos Lista Géneros*/

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 4px solid #636069;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

tr a {
    color: #6D6875;
}

tr a:hover {
    color: #FFB4A2;
}

tr:nth-child(even) {
    background-color: #6D6875;
    color: #FFCDB2;
}

tr:nth-child(even) a {
    color: #FFCDB2;
}

tr:nth-child(even) a:hover {
    color: #FFFFFF;
}


/* Estilos de validacion */

.lista-generos-incompleto {
    border: 3px solid #ad3049 !important;
}