* {
    box-sizing: border-box;
}

body {
    font-family: 'Asap';
}

.cont-metodo-envío {
    width: 1000px;
    height: auto;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    margin: 20px 20px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    color: #000;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.cont-contenido-envío {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: auto;
    border-radius: 6px;
    background-color: #6D6875;
    box-shadow: 1px 2px 3px 0 #6D6875 (0, 0, 0, .10);
}

.cont-linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cont-linea select {
    width: 240px;
    text-align: center;
}


/* Sección de dirección */

.cont-direccion {
    color: #FFCDB2;
    width: 440px;
}


/* Sección mapa */

.cont-mapa {
    width: 440px;
    height: auto;
}

#mapa {
    height: 300px;
    width: 100%;
    border: 1px solid #fff;
}


/* Botones */

.cont-botones {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-metodo-envio {
    margin-left: 30px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    border-radius: 6px;
}

#btn-atras {
    background: #fff;
    border: 1px solid #000;
}

#btn-continuar {
    background: #B5838D;
    border: 1px solid #B5838D;
}

.btn-metodo {
    background-color: #FFB4A2;
    border: none;
    border-radius: 6px;
    color: #636069;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    text-decoration: none;
}


/* Error */

#informacion-error {
    font-size: 14px;
    font-weight: bold;
    color: #c0392b;
    text-align: center;
}

.input-error {
    border: 2px solid #c0392b;
}