* {
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
}

#sct-registro-autor {
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#sct-registro-autor form h1 {
    color: #FFB4A2;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

#sct-registro-autor form {
    padding: 5%;
    width: 100%;
    background-color: #6D6875;
}

#sct-registro-autor form .cont-control {
    margin-bottom: 15px;
    display: flex;
    padding: 10px 20px;
}

#sct-registro-autor form label {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: #FFCDB2;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 70%;
}

.cont-control input[type="date"],
.cont-control input[type="text"],
.cont-control select {
    background-color: #fed7ce;
    padding-left: 5px;
    height: 35px;
    font-size: 15px;
    width: 400px;
}

.cont-control textarea {
    background-color: #fed7ce;
    font-size: 15px;
    height: 150px;
    margin-bottom: 15px;
    width: 100%;
}

.cont-control input[type="file"] {
    color: #fed7ce;
    font-size: 16px;
    height: 35px;
    margin-top: 10px;
    width: 400px;
}

.btn-oscuro {
    background-color: #FFB4A2;
    border: none;
    border-radius: 6px;
    color: #636069;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    margin: 20px 0 0 20px;
    width: 150px;
}

.btn-oscuro:hover {
    background-color: #fed7ce;
    color: #000105;
}

input {
    outline: none;
}

.input-error {
    border: 3px solid #ad3049;
    color: #ad3049;
    font-size: 18px;
    font-weight: bold;
}

.input-error::placeholder {
    color: #ad3049;
    font-weight: bold;
}