body {
    font-family: 'Asap', sans-serif;
}

.cont-control {
    border: 1px solid black;
    text-align: end;
    background: #ffdbc8;
}

#titulo {
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
    background: #6d6875;
    color: #ffcdb2;
    font-weight: bold;
}

#reporte-ventas {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

#desgloce-ventas th {
    font-weight: bold;
    font-family: 'Asap', sans-serif;
    text-align: center;
    background-color: #6d6875;
    color: #ffcdb2;
}

table {
    text-align: center;
    width: 100%;
    font-family: 'Asap', sans-serif;
}

#total {
    font-weight: bold;
}

#total td {
    padding: 12px 0;
}

thead th {
    padding: 8px 0;
}

table tr td {
    padding: 5px 0;
}